/* Path: css/certificate.css */
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style the header and navigation */
header {
    background-color: #333;
    color: white;
}

nav{
    position: sticky;
}
nav ul {
    list-style: none;
    padding: 1rem;
    margin-left: 90rem;
}

nav a {
    text-decoration: none;
    color: white;
  
}

/* Style the user profile section */
.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
}

.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Style the certificate list section */
.certificate-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.certificate-form label {
    font-weight: bold;
}

.generate-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.generate-button:hover {
    background-color: #0056b3;
}

.certificate-output {
    margin-top: 10px;
}


/* Style the footer */
/* the footer is in mid of page how to fix in bottomm */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}


